<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/adminpanel/adminpanel.css">
    <link rel="stylesheet" href="/css/adminpanel/problems.css">
    <title>Problems | AdminPanel</title>
</head>
<body>
    <main>
        <h1>All Problems</h1>
        <% if(data.length==0){ %>
            <p class="error">🚫 No problems Found!</p>
        <% }else{%>
            <table class="table table-bordered table-striped table-striped">
                <thead >
                    <th>Sl</th>
                    <th>Problem Name</th>
                    <th>Problem Preview</th>
                    <th>Colors</th>
                </thead>
                <% data.forEach(function(each,idx){ %>
                    <tr>
                        <td><%= idx+1 %></td>
                        <td><%=each.name %></td>
                        <td>
                            <img src="/asset/problems/<%=each.image%>" alt=<%=each.name%>>
                        </td>
                        <td><%= each.colors %></td>
                    </div>
                <% })%>
            </table>
        <% } %>
    </main>
</body>
</html>