<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/adminpanel/adminpanel.css">
    <title>Submissions | AdminPanel</title>
</head>
<body>
    <main>
        <h1>Submissions</h1>
        <h2>Challenge : <%= data && data.name %></h2>
        <% if(data.records.length==0){ %>
            <p class="error">🚫 No Submission Found!</p>
        <% }else{%>
            <table class="table table-bordered table-striped table-striped">
                <thead >
                    <th>Sl</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Match Percentage</th>
                    <th>HTML</th>
                    <th>CSS</th>
                    <th>TimeStamp</th>
                </thead>
                <% data.records.forEach(function(each,idx){ %>
                    <tr>
                        <td><%= idx+1 %></td>
                        <td><%= each.user_name %></td>
                        <td><%= each.user_email %></td>
                        <td><%= each.match_percentage %></td>
                        <td><pre><%= JSON.parse(each.code).html %></pre></td>
                        <td><pre><%= JSON.parse(each.code).css %></pre></td>
                        <td><%= each.format_submission_time %></td>
                    </tr>
                    </div>
                <% });%>
            </table>
        <% } %>
    </main>
</body>
</html>